body{
    background-color: gainsboro;
}

.bg_IndianRed{
    background-color: indianred;
}

.bg_white{
    background-color: white;
}

.bg_silver{
    background-color: silver;
}

.text_white{
    color: white;
}