<!DOCTYPE html>
<html>
<head>
    <title>Hola</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</head>
<body>
    <div class="uk-section">
        <div class="uk-container uk-margin-remove-bottom">
            <h1 class=""><a href="/">PBlog</a></h1>
            </div>
        <div class="uk-container-large uk-margin-remove-top">
            <nav class="uk-navbar-container bg_IndianRed uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="">Hola</a></li>
                        <li><a href="">Hola</a></li>
                        <li><a href="">Hola</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="uk-container uk-background-default">
            {% block content %}
            {% endblock %}
        </div>
        
    </div>
</body>
</html>