{% extends 'blog/base.html' %}

{% block content %}
    <h1>Posts</h1>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@l uk-grid">
        {% for post in posts %}
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-margin-bottom">
                    <div class="uk.uk-card-header" align="center">
                        <h2 class="uk-card-title uk-margin-remove-bottom" align="center">
                            {{post.title}}
                        </h2>
                        <p class="uk-text-meta uk-margin-remove-top">{{post.author}}</p>
                    </div>
                    <div class="uk-card-body">
                        
                    </div>
                    <div class="uk-card-footer">{{post.create_date}}</div>
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}